<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941693293750-2ivnnn0ojnarq8vpb2bastk0i9gd7gai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941693293750-2ivnnn0ojnarq8vpb2bastk0i9gd7gai</string>
	<key>API_KEY</key>
	<string>AIzaSyDFh-me1hF3SvJr2SvbvhiiPUPG7DHskkc</string>
	<key>GCM_SENDER_ID</key>
	<string>941693293750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.hexawallet.keeper</string>
	<key>PROJECT_ID</key>
	<string>keeper-7b45f</string>
	<key>STORAGE_BUCKET</key>
	<string>keeper-7b45f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941693293750:ios:3aa234efe8a97b56400217</string>
</dict>
</plist>