<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Keeper</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcons</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>keeperdev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>keeperdev</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>588</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
		<string>orbot</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to interact with nearby NFC devices</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		  <!-- Do not change NSAllowsArbitraryLoads to true, or you will risk app rejection! -->
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Please allow camera access for QR scanner</string>
	<key>NSContactsUsageDescription</key>
	<string>ContactsList needs your permission to access your contacts</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) requires FaceID access to allows you quick and secure access.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow photo library access to campture screenshots and send app feedback</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.io.hexawallet.hexakeeper.dev</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>KeeperDev</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>One</string>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Lora-Medium.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-BoldItalic.ttf</string>
		<string>Inter-Italic.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-LightItalic.ttf</string>
		<string>Lora-MediumItalic.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Lora-SemiBold.ttf</string>
		<string>Lora-SemiBoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>D2760000850100</string>
		<string>D2760000850101</string>
		<string>f0436f696e6b697465434152447631</string>
		<string>5361746f43686970</string>
	</array>
</dict>
</plist>
